@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";

.font-fleur {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-yellowtail {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  
}
.font-montserrat-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;  
}
.font-montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;  
}
.font-montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;  
}
.font-montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;  
}
.font-montserrat-lyric {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;  
  line-height: 1.25;
  word-spacing: 0.1em;
}

.font-tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden !important; 
}


h1 {
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@keyframes gradientMove {
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 110% 110%;
  animation: gradientMove 5s infinite alternate ease-in-out;
}

.gradient-mistic-r {
  background: linear-gradient(to right, #80ACFF, #4F39F6, #A215DA, #FF8CCB);
}
.gradient-mistic-l {
  background: linear-gradient(to left, #80ACFF, #4F39F6, #A215DA, #FF8CCB);
}

/* Mascara para fazer o recorte da borda usando mask-composite */
.mask-borda {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.custom-range-music {
   -webkit-appearance: none;
  width: 100%;
  background: linear-gradient( #ffffff) no-repeat, #a3a3a3;
  background-size: 0% 100%;
  height: 4px;
  border-radius: 9999px; 
}

.custom-range-music::-webkit-slider-runnable-track {
  height: 4px;              /* grossura */
  background: transparent;         /* cor */
  border-radius: 9999px;    /* arredondado */
}

/* Thumb (bolinha/ícone) */
.custom-range-music::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;       /* formato circular */
  background: white;        /* cor */
  margin-top: -4px;         /* centraliza verticalmente no track */
  cursor: pointer;
}
